body {
    background-color: #F8FAFC !important;
}

.hstack-text {
    font-size: 30px !important;
}

.nxl-navigation .m-header {
    border-bottom: 0px !important;
}

.form-check{
    border: 1px solid #e5e7eb;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 10px;
}

.form-check .form-check-input {
    width: 20px;
    height: 20px;
}

.form-check .form-check-label {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 2px;
}