/* body {
    background-color: #F8FAFC !important;
} */

.hstack-text {
    font-size: 30px !important;
}

.nxl-navigation .m-header {
    border-bottom: 0px !important;
}

/* .form-check{
    border: 1px solid #e5e7eb;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 10px;
} */

/* .form-check .form-check-input {
    width: 20px;
    height: 20px;
} */

/* .form-check .form-check-label {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 2px;
} */

.sparator {
    border-top: 1px solid #6B7885 !important;
    border-bottom: 1px solid #e5e7eb !important;
}

.badge-detail {
    font-size: 15px;
    background-color: rgb(254 243 199 / var(--tw-bg-opacity, 1)); 
    color: rgb(146 64 14 / var(--tw-text-opacity, 1));
}

.table-detail b {
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.table-detail td {
    font-size: 15px;
}

.badge b{
    font-size: 16px;
    /* color: rgb(107 114 128 / var(--tw-text-opacity, 1)); */
}

.terget {
    /* background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));  */
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    border: 1px solid rgb(229 231 235 / var(--tw-border-opacity, 1)); 
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    height: 46.27px;
}

.terget span {
    /* margin-top: 15px; */
    font-size: 15px;
    font-weight: 700;
    color: #283c50;
}

.terget b {
    font-weight: 900;
    color: rgb(29 78 216 / var(--tw-text-opacity, 1));
}

.target-detail td {
    font-size: 15px;
    font-weight: 600;
    /* border-bottom: 0px !important; */
}

.target-detail .b {
    color: rgb(29 78 216 / var(--tw-text-opacity, 1));
    font-weight: 900 !important;
}

.target-detail .badge {
    font-size: 13px;
    font-weight: 800;
}

.target-detail h6 span {
    font-weight: 500;
}

.target-detail-2 p {
    font-size: 13px;
}

.m-header {
    height: 200px !important;
}

.form-group .col-form-label {
    font-size: 11px;
}

/* .info-capaian {
    border-bottom: 1px solid #91a1b6;
} */

.info-capaian p {
    font-size: 13px;
    font-weight: 600;
    border-bottom: 0px !important;
}

.info-capaian p b {
    color: rgb(29 78 216 / var(--tw-text-opacity, 1));
    font-weight: 900;
}

.info-capaian .col-form-label {
    font-size: 15px !important;
    font-weight: 700px;
    margin-top: 7px;
}

.text-truncate-1-line {
    font-size: 18px;
    font-weight: 900;
}